@use "shared/styles/colors" as colors;

.layout {
    font-size: 16px;
    padding: 0;
    margin: 0;
    cursor: default;

    &__header {
        display: flex;
        gap: 10px;
        padding: 20px 30px;
        background: colors.$dark;
        font-family: sans-serif;

        &__default {
            color: colors.$gray;
            font-weight: 600;
            opacity: .8;
            transition: all .3s;

            &:hover {
                opacity: 1;
            }
        }

        &__active {
            color: colors.$active;
            opacity: 1;
        }
    }

    &__wrapper-content {
        display: grid;
        grid-template-columns: 80px auto;

        &__sidebar {
            height: calc(100vh - 58px);
            min-height: calc(100vh - 58px);
            background: colors.$default-wrapper;
        }
    }
}