@use 'shared/styles/mixins' as minixs;

.info {
    margin: 10px 40px;

    &__block {
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 16px;

        &:hover {
            @include minixs.base_wrapper;
        }
    }
}

.info-page-links {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.info-text {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}